:root {
    --white-color: #FFFFFF;
    --gray-secondary: #C0C0C0;
    --blue-color: #167bF7;
    --background-color: #000000;
    --button-color-effect: rgba(0, 65, 119, 0.788);
    --main-font: Inter;
}

